# Next.js build output
.next/
out/
.cache/

# Firebase build artifacts
.firebase/

# Node modules
node_modules/

# Puppeteer binaries
**/puppeteer*/.local-chromium/

# OS & editor junk
.DS_Store
*.log
*.env
